:root {
  --logoTextColor: #000000;
  --btnBg: #440fda;
  --btnHoverBg: #6731fa;
  --searchBoxBg: #000000;
  --navItemsColor: #808080;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.main {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchContainer {
  margin-top: 5vh;
  width: fit-content;
  height: 10vh;
  gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}

.searchBox {
  width: 400px;
  height: 3vh;
  color: white;
  font-weight: 400;
  font-size: 20px;
  padding: 18px;
  background-color: black;
  border-radius: 10px;
  border: none;
}

.searchBox:focus {
  outline: none;
}

.quickActionsTab {
  width: fit-content;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.tabButton {
  width: calc(648px / 4);
  height: 80px;
  border: none;
  color: white;
  background-color: var(--searchBoxBg);
  font-size: 20px;
}

.tabButton:hover {
  background-color: var(--btnHoverBg);
}

.tabButton:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tabButton:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active {
  background-color: var(--btnBg);
}

.active:hover {
  background-color: var(--btnBg);
}

.searchText {
  font-size: 40px;
  margin-bottom: 5vh;
}
.resultBox {
  display: grid;
  width: 95vw;
  height: fit-content;
  place-items: center;
  grid-template-columns: 19% 19% 19% 19% 19%;
  row-gap: 5vh;
  margin-bottom: 10vh;
}
