@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.btn {
  min-width: 200px;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  background-color: #440fda;
  transition: box-shadow 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0px 0px 10px 5px rgba(79, 146, 240, 0.5);
}

.footer {
  width: 100vw;
  height: 10vh;
  background-color: #1e1e1e;
  display: flex;
  color: white;
  font-size: 25px;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}
