body {
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 70px;
}

.main {
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}

.title {
  margin-bottom: 40px;
  font-size: 60px;
}

p {
  max-width: 80vw;
  margin-bottom: 40px;
  font-size: 25px;
}

@media screen and (max-width: 700px) {
  .title {
    margin-top: 5vh;
  }
  .question {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .question {
    font-size: 15px;
  }
}
