.hero {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.heroLeft {
  width: 40vw;
}

.heroLeft > img {
  width: 40vw;
  aspect-ratio: 1.875;
}

.heroRight {
  width: 60vw;
}

.title {
  font-size: 80px;
  letter-spacing: -2px;
}

br {
  margin-top: 25px;
}

.text {
  font-size: 25px;
  width: 40vw;
  text-align: center;
  color: black;
}
