.hero {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.heroLeft {
  flex-direction: column;
  width: 50vw;
}

/* .heroLeft > img {
  width: 40vw;
  aspect-ratio: 1.875;
}  */

.heroRight {
  flex-direction: column;
  width: 50vw;
  text-align: center;
}

.title {
  font-size: 80px;
  letter-spacing: -2px;
}

br {
  margin-top: 25px;
}

.text {
  font-size: 25px;
  width: 40vw;
  text-align: center;
  color: black;
}

.recentImages {
  width: 300px;
  height: 300px;
}

.tag {
  font-weight: 400;
  margin-top: 40px;
}

.recents {
  width: 300px;
  height: 300px;
  transition: 0.4s ease-in-out;
  position: absolute;
  border-radius: 10px;
}

.recents:nth-child(1) {
  transform: translateX(-4vw) translateY(-2vh) rotateZ(-10deg);
}

.recents:nth-child(2) {
  transform: translateX(4vw) translateY(-2.5vh) rotateZ(10deg);
}

.recentImages:hover {
  animation: none;
}

.recentImages:hover > .recents:nth-child(1) {
  transform: translateX(-10vw) translateY(-4vh) rotateZ(-25deg);
}

.recentImages:hover > .recents:nth-child(2) {
  transform: translateX(10vw) translateY(-10vh) rotateZ(25deg);
}

.recentImages:hover > .recents:nth-child(3) {
  opacity: 0.5;
}

@media screen and (max-width:1030px){

  .heroLeft, .recentImages, .tag{
    display: none;
    width: 0;
  }

  .heroRight{
    width: 100vw;
  }

  .text{
    width: 70vw;
  }

}

@media screen and (max-width: 840px){

  .title{
    font-size: 70px;
  }

}

@media screen and (max-width: 660px){

  .title{
    font-size: 60px;
  }

}

@media screen and (max-width: 550px){

  .title{
    font-size: 50px;
  }

}

@media screen and (max-width: 445px){

  .title{
    font-size: 40px;
  }

  .text{
    width: 90vw;
  }

}