body {
  overflow-x: hidden;
  transition: background-color, 0.5s ease;
}

.contentContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentInfoAndOps {
  width: 80vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.cInfo {
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cActions {
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cActions > img {
  width: 40px;
  height: 40px;
  margin-inline: 20px;
  transition: 0.2s ease;
}

.cActions > img:hover {
  cursor: pointer;
}

.extraInfo {
  display: flex;
}

.extraInfo > p {
  padding: 10px;
}

.extraInfo > p > a {
  text-decoration: none;
}

.contentHolder {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

br {
  margin: 20px;
}

.footerInfo {
  font-size: 25px;
  color: #279be3;
}

.topHeader {
  width: 100vw;
  height: 80px;
  background-color: #202020;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatContainer {
  padding-top: 10px;
  width: 100vw;
  height: 90vh;
}

.senderBubble,
.recieverBubble {
  min-width: 40px;
  max-width: 500px;
  width: fit-content;
  min-height: 20px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  padding: 20px;
}

.senderBubble {
  background-color: #270fda;
  border-radius: 40px 0px 40px 40px;
}

.recieverBubble {
  background-color: rgb(16, 194, 81);
  border-radius: 0px 40px 40px 40px;
  margin-left: 2vw;
}
