body {
  overflow-x: hidden;
}

.contentContainer {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentInfo {
  width: 80vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extraInfo {
  display: flex;
}

.extraInfo > p {
  padding: 10px;
}

.contentHolder {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

br {
  margin: 20px;
}

.footerInfo {
  font-size: 25px;
  color: #279be3;
}

@media screen and (max-width: 1349px) {
  .contentInfo {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 940px) {
  .contentHolder {
    font-size: 25px;
  }
}

@media screen and (max-width: 700px) {
  .contentInfo {
    margin-top: 5vh;
  }
  .contentHolder {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .extraInfo,
  .contentInfo {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .extraInfo {
    display: none;
  }
  .contentInfo {
    margin-top: 0px;
  }
}

@media screen and (max-width: 320px) {
  .contentHolder {
    font-size: 15px;
  }
}
